In [1]:
from my_functions import *
from LogiComp.formula import *
import LogiComp.functions as f
import pandas as pd
from my_functions.restricoes import *
from LogiComp.semantics import *
from math import pow

In [2]:
file = './arquivo_dos_pacientes/column_bin_3a_3p.csv'
df = pd.read_csv(f'./{file}')
m_regras = 1

In [3]:
r1 = restricao_um(df, m_regras)
r2 = restricao_dois(df, m_regras)
r3 = restricao_tres(df, m_regras)
r4 = restricao_quatro(df, m_regras)
r5 = restricao_cinco(df, m_regras)
r6 = restricao_seis(df, m_regras)

In [4]:
print(r5)
print(r6)

C1,1 ∧ C1,2
C1,1 ∨ C1,2

In [5]:
df

   PI <= 42.09  PI <= 70.62  GS <= 57.55  P
0            0            0            1  1
1            0            0            0  1
2            0            1            0  0

In [6]:
formula =  list_to_form( [r1, r2, r3, r4, r5], And ) 
interpretation = satisfiability_brute_force( formula ) 
if(interpretation != False):
  for atom in interpretation:
    print(f'{atom}: {interpretation[atom]}')
  print(f'\nlen: {len(interpretation)}')
  print(f'2^{len(interpretation)}: {pow(2, len(interpretation))}')

XPI <= 42.09,1,le: False
XPI <= 42.09,1,gt: True
XPI <= 42.09,1,s : False
XPI <= 70.62,1,le: False
XPI <= 70.62,1,gt: True
XPI <= 70.62,1,s : False
XGS <= 57.55,1,le: False
XGS <= 57.55,1,gt: False
XGS <= 57.55,1,s : True
C1,1: True
C1,2: True

len: 11
2^11: 2048.0

In [7]:
rule_set_generator(df, interpretation, m_regras)

[['PI > 42.09', 'PI > 70.62']]

In [8]:
df

   PI <= 42.09  PI <= 70.62  GS <= 57.55  P
0            0            0            1  1
1            0            0            0  1
2            0            1            0  0